@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.container{
    width: 800px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 14px;
    background-color: rgb(55, 27, 27);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.search{
    display: flex;
    justify-content: space-between;
}
.search>input{
    padding: 10px ;
    width: 80%;
    box-sizing: border-box ;
    border-radius: 5px;
}
.search>button{
    padding: 8px ;
    width: 19%;
    box-sizing: border-box ;
    border-radius: 5px;
    cursor: pointer;
}
.container>.location{
    display: flex;
    margin-left: 40%;
}
.body{
    display: flex;
    justify-content: space-between;
}
.body1{
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 10px;
}
.body2{
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 10px;
}
.body3{
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 10px;
}